/*********************************** Global ***************************************/

* {
  padding: 0;
  margin: 0;
}

.bg-wallpaper {
  z-index: -1;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


button {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  transition: all 0.1s linear;
}

button:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.pt-2 {
  padding-top: 30px;
}

.pt-3 {
  padding-top: 45px !important;
}

.pt-4 {
  padding-top: 60px !important;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

/*********************************** Global ***************************************/


/*********************************** header ***************************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: brown;
  padding: 5px 0px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  h1 {
    font-size: 22px;
    padding: 0 5px;
    color: white;
  }

  nav {
    display: flex;
    align-items: center;
    text-decoration: none;

    a {
      padding: 6px 10px;
      background: rgba(128, 128, 128, 0);
      border-radius: 5px;
      color: white;
      text-decoration: none !important;
      position: relative;

      div {
        position: absolute;
        top: 0;
        right: 0;
        background-color: yellow !important;
        color: black;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


    .active {
      background: rgba(0, 0, 0, 0.377);
    }
  }
}

/*********************************** header ***************************************/


/************************************ menu ***************************************/

.food-menu-body {
  .info-web {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;

  }

  .info-box {
    /* display: none; */
    width: 300px;
    position: absolute;
    transform: translate(-300px, -285px);
    background-color: #808080;
    padding: 15px;
    border-radius: 15px;
    display: none;
  }

  .info-web:hover .info-box {
    display: block;
  }

  .varity-sm-btn {
    display: none;
    z-index: 50;
    position: fixed;
    top: 50px;
    background-color: transparent;
    right: 12px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
    padding: 20px 0;
  }

  .highlight {
    background-color: brown !important;
    color: white;
  }


  .varity {
    display: flex;
    list-style-type: none;

    li {
      padding: 5px 15px;
      background-color: rgb(128, 128, 128);
      ;
    }


  }

  .sizeBtn {
    padding: 0px 15px;
    width: 100px;
    display: flex;
    position: absolute;
    top: 56px;
    left: -11px;
    z-index: 10;
    gap: 8px;
    button {
      border-radius: 15px;
      backdrop-filter: blur(18px);
      background-color: #63565659;
      border: none;
      color: white;
    }
  }

  button {
    padding: 5px 15px;
  }

}

@keyframes menusIn {
  0% {
    top: -219px;
    right: -68%;
    transform: rotate(360deg);
  }

  100% {
    top: 50px;
    right: 10%;
    transform: rotate(0deg)
  }
}

.visi {
  display: block !important;
  animation: menusIn 1.5s ease-in-out;
}

.none {
  display: none;

}





/************************************ menu ***************************************/


/********************************** products *************************************/


.product {
  width: 100% !important;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 15px;
  backdrop-filter: blur(18px);
  background-color: #63565659;

  .inner {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    img {
      display: block;
      width: 100% !important;
      height: 120px !important;
      background-color: rgba(255, 255, 255, 0.461);
      border-radius: 10px;
    }

    .detail {
      th {
        text-align: start;
        font-size: 14px;
        color: white;
      }

      td {
        color: white;

        button {
          padding: 0px 4px;
          border-radius: 5px;
          border: 0px;
        }
      }
    }
  }
}

.menuSm {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  justify-content: space-evenly;
  padding: 20px 0;

  .product {
    width: 45% !important;
    padding: 20px;
    box-sizing: border-box;
  }

  .product {
    th {
      text-align: start;
      font-size: 14px;
    }

    td {
      button {
        width: 100%;
      }
    }

    .detail {
      font-size: 12px;
    }

    .inner {
      padding: 0;
    }
  }
}




/********************************** products *************************************/

/******************************** cart-product ***********************************/



.cart-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .cart-product {
    width: 92%;
    margin: auto;
    position: relative;

    .delBtn {
      position: absolute;
      right: 0;
      padding: 5px;
      font-size: 18px;
      border-radius: 8px;
      border: 0;
      color: white;
      background-color: rgb(129, 11, 11);
      z-index: 1;
    }

    .inner {
      padding: 10px;
      box-sizing: border-box;
      backdrop-filter: blur(18px);
      background-color: #63565659;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 5px;
      color: white;
      border-radius: 10px;

      img {
        display: block;
        width: 100px !important;
        height: 100px !important;
        background-color: rgba(0, 0, 0, 0.61);
        border-radius: 10px;
      }

      table {
        font-size: 15px;

        th {
          text-align: start;
        }
      }
    }

  }

  h1 {
    color: white;
  }
}


/******************************** cart-product ***********************************/


/************************************ order ***************************************/

.order {
  width: 100%;
  table,
  td,
  th {
    border: 1px solid white;
    background-color: #808080;
    border-collapse: collapse;
    text-align: start;
    width: 100%;

  }
  th:nth-child(1){
    width: max-content;
  }

  th,
  td {
    padding: 5px;
    font-size: 10px;
  }

  table {
    width: 90%;
    margin: 10px auto 0 auto;
  }
  button{
    backdrop-filter: blur(18px);
    background-color: transparent;
    border:  none ;
  }
  .bill-box{
    padding: 10px 0px;
    margin: 10px;
  }
}


/*******************************^^^^* order ***************************************/


/********************************* Admin Panel ***********************************/


.admin-panel {
  display: flex;
  position: relative;
  padding-top: 40px;

  .head {
    position: absolute;
    left: 0px;
    width: 15%;
    height: calc(100vh - 41px) !important;
    background-color: rgba(0, 0, 0, 0.212);

    nav {
      list-style-type: none;
      text-align: center;

      li {
        padding: 10px 0;
      }

      .active {
        background-color: grey;
      }

    }
  }

  .form {
    position: absolute;
    right: 0px;
    width: 85%;
  }

  .card {
    table {
      width: 96%;
      margin: 15px auto;
      background-color: #80808025;
      border-radius: 5px;
      padding: 15px 10px;

      th {
        text-align: start;
        padding: 4px 20px 4px 20px;
        display: flex;
        justify-content: space-between;

        button {
          padding: 5px 15px;
          margin: 10px 0;
        }
      }

      td {
        input {
          background-color: #80808013;
        }
      }
    }
  }
}

.copyRight {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/********************************* Admin Panel ***********************************/


/********************************* Media Query ***********************************/


@media only screen and (min-width: 360px) {
  .product {
    width: calc(50% - 25px) !important;
    font-size: 14px;
  }
}

@media only screen and (min-width: 576px) {
  .product {
    width: calc(33.33% - 25px) !important;
  }

}

@media only screen and (min-width: 1080px) {
  .product {
    width: calc(25% - 25px) !important;
  }
}



@media only screen and (max-width: 576px) {
  .food-menu-body {
    position: relative;

    .sizeBtn {
      button {
        display: block !important;
      }
    }

    .varity-section {
      .varity-sm-btn {
        display: block !important;
        backdrop-filter: blur(18px);
        background-color: #63565659;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }

      .varity {
        display: none;
      }



      .mobile-var {
        position: fixed !important;
        top: 50px;
        right: 10%;
        width: 200px;
        aspect-ratio: 1;
        transition: 0.8s all linear;
        list-style: none;
        box-sizing: border-box;
        z-index: 2;
        border-radius: 50%;

        li {
          width: max-content;
          height: max-content;
          border-radius: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: none;
          padding: 0px 10px;
          background-color: #ffffff8f;
          box-shadow: 0px 0px 20px rgba(82, 80, 80, 0.527);
        }



        li:nth-child(1) {
          position: absolute;
          top: -4%;
          right: 43%;
        }

        li:nth-child(2) {
          position: absolute;
          top: 11%;
          right: 90%;
        }

        li:nth-child(3) {
          position: absolute;
          top: 52%;
          right: 100%;
        }

        li:nth-child(4) {
          position: absolute;
          top: 93%;
          right: 74%;
        }

        li:nth-child(5) {
          position: absolute;
          top: 97%;
          right: 22%;
        }

        li:nth-child(6) {
          position: absolute;
          top: 67%;
          right: -9%;
        }

        li:nth-child(7) {
          position: absolute;
          top: 17%;
          right: 0%;
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  header {
    nav {
      width: 100%;
      justify-content: space-around;
    }

    h1 {
      display: none;
    }
  }
}


/********************************* Media Query ***********************************/